@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--tab-speed: 280ms;
	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	--sal: env(safe-area-inset-left);
	--bg-total-bar: #0094378b;
	--bg-water-bar: #1984ff8b;
	--bg-chemical-bar: #ff5e198b;
	--globalnav-backdrop-filter: saturate(180%) blur(20px);
}

@media (prefers-color-scheme: light) {
	:root {
		--globalnav-background: rgba(255, 255, 255, 0.6);
		--base-color: #111;
		--base-color-sub: #999;
		--bg-opacity: #1919194d;
		--bg-contents: #fff;
		--bg-contents-rgb: 255, 255, 255;
		--bg-check-input: #000;
		--bg-check-input-label: #fff;
		--graph-border: #eee;
		--graph-bg-gradient1: #fafafa;
		--graph-bg-gradient2: transparent;
		--btn: #151515;
		--btn-text: #fff;
		--bg-form: transparent;
		--bg-form-inner: #fafafa;
		--placeholder: #d1d1d1;
		--copyright: #aaa;
		--line-color: #ff2119;
		--bg-tab: #fafafa;
		--tab-default-text: #aaa;
		--tab-active-text: #fff;
		--tab-line: #1f1f1f;
		--bg-modal: 3, 3, 3;
		--bg-modal-content: #fff;
		--modal-text: #111;
		--notice-text: #666;
		--quick-line: #fff;
		--bg-input: #f1f1f1;
		--border-input: #e1e1e1;
		--input-placeholder: #999;
		--bg-quick: #aaa;
		--etc: #888;
		--product-line: #e1e1e1;
		--btn-dilution-line: #e1e1e1;
		--btn-dilution-bg: #fff;
		--btn-dilution-hover: #1f1f1f;
		--alert-color: #151515;
		--alert-title: #151515;
		--alert-text: #4e4e4e;
		--alert-border: rgba(214, 214, 214, 0.25);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--globalnav-background: rgba(31, 31, 31, 0.6);
		--base-color: #fff;
		--base-color-sub: #bbb;
		--bg-opacity: #00000080;
		--bg-contents: #1f1f1f;
		--bg-contents-rgb: 31, 31, 31;
		--graph-border: #303134;
		--graph-bg-gradient1: #2b2b2b;
		--graph-bg-gradient2: transparent;
		--btn: #fff;
		--btn-text: #151515;
		--bg-form: transparent;
		--bg-form-inner: #303134;
		--placeholder: #5d5d5d;
		--copyright: #999;
		--line-color: #ffd119;
		--bg-tab: #303134;
		--tab-default-text: #a1a1a1;
		--tab-active-text: #151515;
		--tab-line: #fff;
		--bg-modal: 70, 70, 70;
		--bg-modal-content: #1f1f1f;
		--modal-text: #fff;
		--notice-text: #fff;
		--quick-line: #1f1f1f;
		--bg-input: #333;
		--border-input: #222;
		--input-placeholder: #999;
		--bg-quick: #aaa;
		--etc: #ddd;
		--product-line: #666;
		--btn-dilution-line: #333;
		--btn-dilution-bg: #1f1f1f;
		--btn-dilution-hover: #fff;
		--alert-color: #fff;
		--alert-title: #fff;
		--alert-text: #ccc;
		--alert-border: rgba(109, 109, 109, 0.25);
	}
}
// * 스크롤바 색상 설정
@mixin scrollbar($width, $thumb-bg, $thumb-radius, $track-bg: null) {
	&::-webkit-scrollbar {
		width: $width;
		height: $width;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $thumb-bg;
		border-radius: $thumb-radius;
	}
	&::-webkit-scrollbar-track {
		background-color: $track-bg;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		background-color: transparent;
	}
}
@mixin mobile-scrollbars {
	@media (hover: none) and (pointer: coarse) {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	@media (hover: hover) and (pointer: fine) {
		@include scrollbar(4px, transparent, 2px);
		&:hover {
			@include scrollbar(4px, var(--base-color-sub), 2px);
		}
	}
}
* {
	@include mobile-scrollbars;
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	letter-spacing: -0.3px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	&:after,
	&:before {
		box-sizing: border-box;
		pointer-events: none;
	}
}
body,
html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {
	scroll-behavior: smooth;
}
body {
	min-width: 320px;
	font: {
		family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
		feature-settings: 'tnum';
		variant-numeric: tabular-nums;
	}
	background: {
		color: var(--bg-contents);
	}
}

sup {
	&:after {
		content: "*";
		color: #ff0000;
		margin-left: 3px;
	}
}

button {
	outline: 0;
	border: 0;
	&:not(:disabled) {
		cursor: pointer;
	}
}

summary {
	display: list-item;
	cursor: pointer;
	&::marker,
	&::-webkit-details-marker {
		display: none;
		content: none;
	}
}

.stop-scroll {
	@media all and (display-mode: standalone) {
		max-height: 100vh;
	}
	max-height: 100dvh;
	overflow-y: hidden;
}

.ti {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#container {
	position: relative;
	z-index: 1;
	width: 100%;
}
#contents {
	position: relative;
	display: flex;
	flex-direction: column;
}
// ! Header
#header {
	.inner {
		display: flex;
	}
	h1 {
		position: relative;
		color: var(--base-color);
		font: {
			family: "Poppins", sans-serif;
			weight: 700;
			style: normal;
		}
		strong {
			font: {
				// family: "JetBrains Mono", monospace;
				style: italic;
			}
		}
		&:after {
			position: absolute;
			top: 50%;
			content: "🧪";
			transform: translateY(-50%);
		}
	}
}
.btn-search,
.btn-information {
	display: inline-flex;
	flex: none;
	color: var(--base-color);
	background: transparent;
	align-items: center;
	.ti {
		flex: none;
		width: 18px;
		height: 18px;
	}
	span {
		margin-left: 3px;
		font: {
			size: 13px;
		}
	}
}

.form {
	display: flex;
	flex: none;
	overflow: hidden;
	align-items: stretch;
	background-color: var(--bg-form);
	flex-wrap: wrap;
	border-radius: 10px;
	gap: 1px;
	dl {
		background-color: var(--bg-form-inner);
		dt {
			color: var(--base-color);
			font: {
				size: 14px;
				weight: 600;
			}
		}
		dd {
			input {
				width: 100%;
				color: var(--base-color);
				border: 0;
				background-color: transparent;
				outline: 0;
				&::placeholder {
					color: var(--placeholder);
				}
			}
		}
	}
}
.btn-reset {
	&:disabled {
		cursor: not-allowed;
		color: var(--placeholder);
		background-color: var(--bg-form-inner);
	}
	&:not(:disabled) {
		color: var(--btn-text);
		background-color: var(--btn);
	}
}
.notice {
	list-style: none;
	li {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		line-height: 160%;
		&:before {
			flex: none;
			content: "\b7";
			font: {
				weight: 700;
			}
		}
		> span {
			flex: 1 1;
		}
		strong {
			color: var(--line-color);
		}
		> ul {
			flex: 0 0 100%;
			padding-left: 10px;
		}
	}
}
.btn-area {
	display: flex;
	flex: 1 1 auto;
	align-items: stretch;
	gap: 2px;
}
// ! Tab
.tab-header {
	display: flex;
	position: relative;
	border-radius: 10px;
	background-color: var(--bg-tab);
	margin-bottom: 15px;
	.radio-label {
		display: flex;
		flex: 1 1;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		input[type="radio"] {
			display: none;
			&:checked {
				+ .control-text {
					color: var(--tab-active-text);
				}
			}
			&:not(:checked) {
				+ .control-text {
					color: var(--tab-default-text);
				}
			}
		}
		.control-text {
			display: flex;
			position: relative;
			z-index: 2;
			height: 42px;
			align-items: center;
			justify-content: center;
			transition: color var(--tab-speed);
			font: {
				size: 14px;
				weight: 600;
			}
		}
	}
	.tab-line {
		position: absolute;
		z-index: 1;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: var(--tab-line);
		border-radius: 10px;
		transition: transform var(--tab-speed);
	}
}
.tab-body {
	display: flex;
	flex: 1 1;
	position: relative;
	flex-direction: column;
	&[data-tab] {
		display: none;
		&.active {
			display: flex;
		}
	}
}
.selected-brand-alert {
	display: none;
	position: absolute;
	z-index: 20;
	left: 50%;
	width: 100%;
	max-width: 638px;
	transform: translateX(-50%);
	&.active {
		display: block;
		animation: modal-in-alert 580ms;
	}
	.ti {
		flex: none;
		color: var(--alert-color);
		margin-right: 6px;
		font: {
			size: 18px;
		}
	}
	.inner {
		display: flex;
		align-items: flex-start;
		border-radius: 10px;
		background: {
			color: var(--globalnav-background);
		}
		backdrop-filter: var(--globalnav-backdrop-filter);
		border: 1px solid var(--alert-border);
		padding: 16px;
		> div {
			line-height: 140%;
			flex: 1 1;
			opacity: 1;
			color: var(--alert-title);
			font: {
				size: 13px;
				weight: 700;
			}
			.text {
				font: {
					weight: 400;
				}
			}
			em {
				color: var(--alert-text);
				font: {
					weight: 400;
				}
				strong {
					color: var(--line-color);
					font: {
						weight: 700;
					}
				}
			}
		}
	}
}
// ! 그래프
.graph-container {
	display: flex;
	flex: 1 1;
	width: 100%;
	flex-wrap: wrap;
}
.graph-item {
	dl {
		dt {
			color: var(--base-color);
			font: {
				size: 14px;
				weight: 600;
			}
		}
		dd {
			color: var(--base-color);
		}
	}
}
.graph-bg {
	display: flex;
	overflow: hidden;
	border-radius: 10px;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20px;
	> div {
		&:nth-child(1) {
			border-radius: 10px 10px 0 0;
		}
	}
}
.total-bar, .chemical-bar, .chemical-bar2, .water-bar {
	flex: none;
	height: 0;
	transition: height 1000ms cubic-bezier(.06, .38, .13, 1);
}
.total-bar {
	background-color: var(--bg-total-bar);
}
.water-bar {
	background-color: var(--bg-water-bar);
}
.chemical-bar,
.chemical-bar2 {
	background-color: var(--bg-chemical-bar);
}
// ! Footer
.copyright {
	color: var(--copyright);
	margin-top: 20px;
	font-size: 12px;
	ul {
		display: flex;
		list-style: none;
		align-items: center;
		li {
			display: inline-flex;
			flex: none;
			align-items: center;
			+ li {
				&:before {
					display: inline-block;
					flex: none;
					margin: 0 10px;
					content: "";
					width: 4px;
					height: 4px;
					background-color: var(--copyright);
					border-radius: 50%;
				}
			}
		}
	}
	a {
		display: inline-flex;
		text-decoration: none;
		align-items: center;
		.ti {
			flex: none;
			margin-right: 3px;
			font: {
				size: 14px;
			}
		}
	}
}
// ! Modal
.modal {
	@media all and (display-mode: standalone) {
		height: 100vh;
	}
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	height: 100dvh;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--bg-modal), 20%);
	backdrop-filter: blur(4px);
	&.active {
		display: flex;
		.modal-container {
			background-color: var(--bg-modal-content);
		}
	}
	h1 {
		span {
			display: inline-block;
			animation: shake-hand 580ms cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
		}
	}
	h1,
	.btn-modal-close {
		color: var(--modal-text);
	}
	.notice {
		color: var(--notice-text);
		a,
		.underline {
			color: var(--line-color);
		}
		a {
			text-decoration: underline;
			text-decoration-color: var(--line-color);
			text-underline-offset: 3px;
		}
	}
}
.modal-container {
	padding: 30px;
	position: relative;
	width: 100%;
	max-width: 480px;
	border-radius: 20px;
	.btn-modal-close {
		position: absolute;
		top: 30px;
		right: 26px;
		background: transparent;
		line-height: 1;
		font-size: 28px;
	}
	h1 {
		margin-bottom: 15px;
		font: {
			size: 18px;
			weight: 600;
		}
	}
}
.modal-footer {
	padding-top: 16px;
}
.quick-area {
	border-top: 1px dashed var(--quick-line);
	margin-top: 10px;
	padding-top: 10px;
	.inner {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	&.hide-after {
		&:after {
			content: none;
		}
	}
}
.btn-quick {
	@media (hover: hover) and (pointer: fine) {
		cursor: pointer;
		&:hover {
			background: {
				color: var(--tab-line);
			}
		}
	}
	flex: 1 1;
	color: var(--bg-contents);
	transition: background-color 300ms;
	border: {
		radius: 4px;
	}
	background: {
		color: var(--bg-quick);
	}
	font: {
		weight: 700;
	}
}
.result-msg {
	display: none;
	flex: 1 1;
	padding: 40px 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	.ti {
		color: var(--line-color);
		font: {
			size: 40px;
			weight: 400;
		}
	}
	.msg {
		color: var(--notice-text);
		margin-top: 6px;
		font: {
			weight: 400;
		}
	}
	&.active {
		display: flex;
	}
}
.product-list {
	overflow-y: auto;
	.product-item {
		padding: 16px 0;
		position: relative;
		min-width: 0;
		gap: 6px;
		&:first-child {
			padding-top: 6px;
		}
		&:not(:first-child) {
			border-top: 1px dashed var(--product-line);
		}
		.brand {
			max-width: 100%;
			margin-bottom: 4px;
			span {
				display: inline-block;
				padding: 5px 8px;
				overflow: hidden;
				max-width: 100%;
				border-radius: 4px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			font: {
				size: 12px;
				weight: 700;
			}
			&.ad {
				color: #fff;
				span {
					color: #fff;
					background: #d11212;
				}
			}
			&.lp {
				color: #fff;
				span {
					color: #fff;
					background: #4d009a;
				}
			}
			&.gd {
				color: #fff;
				span {
					color: #fff;
					background: #F9982A;
				}
			}
			&.gb {
				color: #fff;
				span {
					color: #fff;
					background: #46340b;
				}
			}
			&.gq {
				color: #fff;
				span {
					color: #fff;
					background: #0073ff;
				}
			}
			&.mf {
				color: #fff;
				span {
					color: #fff;
					background: #11306E;
				}
			}
			&.tac {
				color: #fff;
				span {
					color: #fff;
					background: #ff3401;
				}
			}
			&.default {
				color: #111;
				span {
					color: #111;
					background: #dadada;
				}
			}
		}
		.dilution-buttons {
			display: flex;
			gap: 4px;
			.btn-modal-dilution {
				flex: 1 1;
			}
		}
		.btn-modal-dilution {
			@media (hover: hover) and (pointer: fine) {
				cursor: pointer;
				transition: background-color 300ms;
				&:hover {
					color: var(--btn-dilution-bg);
					border-color: transparent;
					background: {
						color: var(--btn-dilution-hover);
					}
				}
			}
			display: inline-flex;
			padding: 12px 0;
			color: var(--btn-dilution-hover);
			background-color: var(--btn-dilution-bg);
			border: 1px solid var(--btn-dilution-line);
			border-radius: 4px;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			strong {
				font: {
					size: 18px;
					weight: 700;
				}
			}
			span {
				opacity: 70%;
				font: {
					size: 13px;
					weight: 500;
				}
			}
		}
	}
}
#searchInput {
	flex: none;
	padding: 0 12px;
	overflow: hidden;
	width: 100%;
	height: 40px;
	color: var(--notice-text);
	border: 1px solid var(--border-input);
	margin-bottom: 10px;
	border-radius: 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: {
		color: var(--bg-input);
	}
	&::placeholder {
		color: var(--input-placeholder);
	}
	font: {
		size: 14px;
		weight: 500;
	}
	&:focus {
		border-color: #111;
		outline: 0;
	}
}

@keyframes modal-in-bottom {
	from {
		transform: translateY(40px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes modal-in-alert {
	from {
		transform: translate(-50%, -40px);
	}
	to {
		transform: translate(-50%, 0);
	}
}
@keyframes modal-in-right {
	from {
		transform: translateX(calc(100% + 40px));
	}
	to {
		transform: translateX(0);
	}
}
@keyframes modal-in-fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}
@keyframes shake-top {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
@keyframes shake-hand {
	0%,
	100% {
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
		transform-origin: 50% 50%;
	}
	50% {
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg);
	}
}

@media screen and (min-width: 1280px) {
	#wrap {
		@media all and (display-mode: standalone) {
			min-height: 100vh;
		}
		display: flex;
		position: relative;
		min-height: 100dvh;
		align-items: center;
		justify-content: center;
		background: {
			position: 50% 50%;
			size: cover;
			image: url('../images/bg.jpg');
		}
		&:before {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			backdrop-filter: blur(10px);
			background: {
				color: var(--bg-opacity);
			}
		}
	}
	#header {
		margin-bottom: 30px;
		.inner {
			position: relative;
			z-index: 2;
			align-items: center;
		}
		h1 {
			justify-self: flex-start;
			font: {
				size: 18px;
			}
			&:after {
				font: {
					size: 12px;
				}
				right: -20px;
			}
		}
	}
	.btn-search {
		margin-left: auto;
	}
	.btn-information {
		margin-left: 14px;
	}
	#container {
		padding: 30px;
		max-width: 1024px;
		border-radius: 24px;
		background-color: rgba(var(--bg-contents-rgb), 100%);
	}
	#contents {
		height: 65vh;
		max-height: 700px;
	}
	.tab-header {
		width: 50%;
	}
	.form {
		dl {
			padding: 20px;
			&:nth-of-type(1) {
				flex: 0 0 50%;
			}
			&:not(:nth-of-type(1)) {
				flex: 1 1;
			}
			dt {
				margin-bottom: 5px;
			}
			dd {
				input {
					height: 36px;
					letter-spacing: -0.0375em;
					font: {
						size: 30px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		padding: 30px;
		font: {
			size: 18px;
			weight: 700;
		}
	}
	.graph-container {
		margin-top: 30px;
		gap: 20px;
	}
	.graph-bg {
		flex: 1 1;
		background: repeating-linear-gradient(-55deg,
				var(--graph-bg-gradient1),
				var(--graph-bg-gradient1) 4px,
				var(--graph-bg-gradient2) 4px,
				var(--graph-bg-gradient2) 8px);
	}
	.graph-item {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		padding-top: 30px;
		border-top: 1px dashed var(--graph-border);
		dl {
			padding: 0 20px;
			margin-bottom: 10px;
			dd {
				font: {
					size: 52px;
					weight: 700;
				}
			}
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 5px;
			}
			font: {
				size: 13px;
				weight: 400;
			}
			+ li {
				margin-top: 5px;
			}
		}
	}
	.copyright {
		ul {
			li {
				&:nth-child(4) {
					margin-left: auto;
					&:before {
						content: none;
					}
				}
				&:nth-child(5) {
					margin-left: 10px;
					&:before {
						content: none;
					}
				}
			}
		}
	}
	.btn-quick {
		padding: 6px 8px;
		font: {
			size: 14px;
		}
	}
	.result-msg {
		.msg {
			font: {
				size: 14px;
			}
		}
	}
	.product-list {
		@media all and (display-mode: standalone) {
			max-height: 50vh;
		}
		max-height: 50dvh;
	}
	.modal {
		&[data-modal-type="information"],
		&[data-modal-type="install"] {
			.modal-container {
				animation: modal-in-bottom 580ms;
			}
		}
		&[data-modal-type="search"] {
			.modal-container {
				animation: modal-in-bottom 580ms;
			}
		}
	}
	.selected-brand-alert {
		.inner {
			margin-top: -77px;
		}
	}
}

@media (max-width: 1279px) {
	#contents {
		padding: 24px calc(24px + var(--sar)) calc(24px + var(--sab)) calc(24px + var(--sal));
	}
	#header {
		padding: calc(var(--sat) + 16px) 0 20px;
		position: sticky;
		z-index: 50;
		top: 0;
		border-bottom: 1px solid var(--graph-border);
		background-color: var(--globalnav-background);
		backdrop-filter: var(--globalnav-backdrop-filter);
		.inner {
			align-items: center;
			justify-content: center;
		}
		h1 {
			font: {
				size: 17px;
			}
			&:after {
				font: {
					size: 12px;
				}
				right: -20px;
			}
		}
	}
	.btn-search,
	.btn-information {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.ti {
			font: {
				size: 20px;
			}
		}
		span {
			display: none;
		}
	}
	.btn-information {
		left: calc(var(--sal) + 24px);
		.ti {
			animation: shake-top 1000ms cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
		}
	}
	.btn-search {
		right: calc(var(--sal) + 24px);
	}
	.form {
		dl {
			flex: 0 0 100%;
			padding: 20px;
			dt {
				margin-bottom: 5px;
			}
			dd {
				input {
					font: {
						size: 24px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		flex: 0 0 100%;
		padding: 16px;
		font: {
			size: 16px;
			weight: 700;
		}
	}
	.graph-container {
		margin-top: 20px;
	}
	.graph-bg {
		flex: 1 1;
		height: 200px;
		background: repeating-linear-gradient(-55deg,
				var(--graph-bg-gradient1),
				var(--graph-bg-gradient1) 3px,
				var(--graph-bg-gradient2) 3px,
				var(--graph-bg-gradient2) 6px);
	}
	.graph-item {
		flex: 0 0 100%;
		&:first-child {
			padding-top: 20px;
			border-top: 1px dashed var(--graph-border);
		}
		&:nth-child(2) {
			margin-top: 20px;
		}
		dl {
			padding: 0 20px;
			margin-bottom: 5px;
			dd {
				margin-top: 5px;
				font: {
					size: 42px;
					weight: 700;
				}
			}
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 5px;
			}
			font: {
				size: 13px;
				weight: 400;
			}
			+ li {
				margin-top: 3px;
			}
		}
	}
	.copyright {
		ul {
			flex-wrap: wrap;
			justify-content: center;
			li {
				&:nth-child(4),
				&:nth-child(5) {
					flex: 0 0 100%;
					justify-content: center;
					margin-top: 10px;
					&:before {
						content: none;
					}
				}
			}
		}
	}
	.btn-quick {
		padding: 4px 6px;
		font: {
			size: 14px;
		}
	}
	.product-list {
		@media all and (display-mode: standalone) {
			max-height: 40vh;
		}
		max-height: 40dvh;
		.product-item {
			.btn-modal-dilution {
				strong {
					font: {
						size: 16px;
					}
				}
				span {
					font: {
						size: 12px;
					}
				}
			}
		}
	}
	.result-msg {
		.msg {
			font: {
				size: 13px;
			}
		}
	}
	.modal {
		&[data-modal-type="information"],
		&[data-modal-type="install"] {
			.modal-container {
				animation: modal-in-bottom 580ms;
			}
		}
		&[data-modal-type="search"] {
			.modal-container {
				animation: modal-in-bottom 580ms;
			}
		}
	}
	.selected-brand-alert {
		padding: {
			left: calc(24px + var(--sal));
			right: calc(24px + var(--sar));
		}
		.inner {
			margin-top: 57px;
		}
	}
}
@media (max-width: 639px) {
	#container {
		background-color: var(--bg-contents);
	}
	#header {
		z-index: 10;
		.inner {
			position: relative;
			align-items: center;
		}
	}
	#contents {
		padding: 16px calc(16px + var(--sar)) calc(16px + var(--sab)) calc(16px + var(--sal));
	}
	.tab-header {
		.radio-label {
			.control-text {
				font: {
					size: 13px;
				}
			}
		}
	}
	.btn-information {
		left: calc(var(--sal) + 16px);
	}
	.btn-search {
		right: calc(var(--sar) + 16px);
	}
	.graph-bg {
		height: 130px;
		padding-top: 10px;
	}
	.graph-item {
		dl {
			padding: 0 10px;
			margin-bottom: 6px;
			dd {
				font: {
					size: 32px;
					weight: 700;
				}
			}
		}
	}
	.form {
		dl {
			flex: 0 0 calc(50% - 0.5px);
			padding: 16px;
			min-width: 0;
			dd {
				input {
					font: {
						size: 20px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		padding: 12px;
		font: {
			size: 15px;
			weight: 700;
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 4px;
			}
			font: {
				size: 12px;
				weight: 400;
			}
			+ li {
				margin-top: 2px;
			}
		}
	}
	.result-msg {
		.msg {
			font: {
				size: 12px;
			}
		}
	}
	#searchInput {
		font: {
			size: 13px;
		}
	}
	.modal {
		.modal-container {
			h1 {
				margin-bottom: 15px;
				font: {
					size: 18px;
					weight: 600;
				}
			}
		}
		&[data-modal-type="information"],
		&[data-modal-type="install"] {
			align-items: flex-end;
			.modal-container {
				padding: 24px calc(24px + var(--sar)) calc(24px + var(--sab)) calc(24px + var(--sal));
				position: relative;
				max-width: 100%;
				animation: modal-in-bottom 580ms;
				border-radius: 16px 16px 0 0;
				.btn-modal-close {
					top: 23px;
					.icon {
						width: 28px;
						height: 28px;
					}
				}
			}
		}
		&[data-modal-type="search"] {
			align-items: stretch;
			.modal-container {
				display: flex;
				flex: 1 1;
				padding: calc(16px + var(--sat)) calc(16px + var(--sar)) calc(16px + var(--sab)) calc(16px + var(--sal));
				max-width: 100%;
				animation: modal-in-fade 300ms;
				border-radius: 0;
				flex-direction: column;
				.btn-modal-close {
					top: calc(15px + var(--sat));
					right: calc(16px + var(--sar));
					.icon {
						width: 28px;
						height: 28px;
					}
				}
			}
			.modal-contents {
				display: flex;
				flex: 1 1;
				flex-direction: column;
				overflow-y: auto;
			}
			.modal-footer {
				padding-top: 16px;
			}
		}
	}
	.quick-area {
		position: relative;
		.inner {
			flex-wrap: nowrap;
			overflow-x: auto;
		}
		&:after {
			position: absolute;
			top: calc(50%);
			right: 0;
			content: "";
			width: 24px;
			height: 24px;
			pointer-events: none;
			transform: translateY(calc(-50% + 3px));
			background: linear-gradient(90deg, hsla(0, 0%, 98%, 0), var(--bg-form-inner) 24px, var(--bg-form-inner));
		}
	}
	.btn-quick {
		padding: 3px 4px;
		font: {
			size: 11px;
		}
	}
	.product-list {
		@media all and (display-mode: standalone) {
			max-height: none;
		}
		flex: 1 1 auto;
		max-height: none;
		overflow-y: auto;
	}
	.selected-brand-alert {
		padding: {
			left: calc(16px + var(--sal));
			right: calc(16px + var(--sar));
		}
		.inner {
			margin-top: 57px;
		}
	}
}
