@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
	--tab-speed: 280ms;
}

@media (prefers-color-scheme: light) {
	:root {
		--base-color: #111;
		--base-color-sub: #999;
		--bg-opacity: rgba(25, 25, 25, 30%);
		--bg-contents: #fff;
		--bg-contents-rgb: 255, 255, 255;
		--bg-check-input: #000;
		--bg-check-input-label: #fff;
		--graph-border: #eee;
		--graph-bg-gradient1: #fafafa;
		--graph-bg-gradient2: transparent;
		--bg-total-bar: #1984ff8b;
		--bg-water-bar: #1984ff8b;
		--bg-chemical-bar: #ff5e198b;
		--btn: #151515;
		--btn-text: #fff;
		--bg-form: transparent;
		--bg-form-inner: #fafafa;
		--placeholder: #d1d1d1;
		--copyright: #aaa;
		--line-color: #ff2119;
		--bg-tab: #fafafa;
		--tab-default-text: #aaa;
		--tab-active-text: #fff;
		--tab-line: #1f1f1f;
		--bg-modal: 3, 3, 3;
		--bg-modal-content: #fff;
		--modal-text: #111;
		--notice-text: #1f1f1f;
		--quick-line: #fff;
		--bg-input: #f1f1f1;
		--border-input: #e1e1e1;
		--input-placeholder: #999;
		--bg-quick: #aaa;
		--etc: #888;
		--product-line: #e1e1e1;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--base-color: #fff;
		--base-color-sub: #bbb;
		--bg-opacity: rgba(0, 0, 0, 50%);
		--bg-contents: #1f1f1f;
		--bg-contents-rgb: 31, 31, 31;
		--graph-border: #303134;
		--graph-bg-gradient1: #303134;
		--graph-bg-gradient2: transparent;
		--bg-total-bar: #1984ff8b;
		--bg-water-bar: #1984ff8b;
		--bg-chemical-bar: #ff5e198b;
		--btn: #fff;
		--btn-text: #151515;
		--bg-form: transparent;
		--bg-form-inner: #303134;
		--placeholder: #a1a1a1;
		--copyright: #999;
		--line-color: #ffd119;
		--bg-tab: #303134;
		--tab-default-text: #a1a1a1;
		--tab-active-text: #151515;
		--tab-line: #fff;
		--bg-modal: 70, 70, 70;
		--bg-modal-content: #1f1f1f;
		--modal-text: #fff;
		--notice-text: #fff;
		--quick-line: #1f1f1f;
		--bg-input: #333;
		--border-input: #222;
		--input-placeholder: #999;
		--bg-quick: #aaa;
		--etc: #ddd;
		--product-line: #666;
	}
}
// * 스크롤바 색상 설정
@mixin scrollbar($width, $thumb-bg, $thumb-radius, $track-bg: null) {
	&::-webkit-scrollbar {
		width: $width;
		height: $width;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $thumb-bg;
		border-radius: $thumb-radius;
	}
	&::-webkit-scrollbar-track {
		background-color: $track-bg;
	}
	&::-webkit-scrollbar-button {
		width: $width;
		height: $width;
		background-color: transparent;
	}
}
* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	letter-spacing: -0.3px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	&:after,
	&:before {
		box-sizing: border-box;
		pointer-events: none;
	}
}
body,
html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {
	scroll-behavior: smooth;
}
body {
	min-width: 320px;
	min-height: 100dvh;
	letter-spacing: -0.5px;
	font: {
		family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
		feature-settings: 'tnum';
		variant-numeric: tabular-nums;
	}
	background: {
		color: var(--bg-contents);
	}
}

sup {
	&:after {
		content: "*";
		color: #ff0000;
		margin-left: 3px;
	}
}

button {
	outline: 0;
	border: 0;
	&:not(:disabled) {
		cursor: pointer;
	}
}

summary {
	display: list-item;
	cursor: pointer;
	&::marker,
	&::-webkit-details-marker {
		display: none;
		content: none;
	}
}

.stop-scroll {
	overflow-y: hidden;
}

.ti {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
#container {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1024px;
}

#contents {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	h1 {
		position: relative;
		color: var(--base-color);
		&:after {
			position: absolute;
			top: 50%;
			content: "🧪";
			transform: translateY(-50%);
		}
	}
}
.btn-search,
.btn-information {
	display: inline-flex;
	flex: none;
	color: var(--base-color);
	background: transparent;
	align-items: center;
	.ti {
		flex: none;
		width: 18px;
		height: 18px;
	}
	span {
		margin-left: 3px;
		font: {
			size: 13px;
		}
	}
}

.form {
	display: flex;
	flex: none;
	overflow: hidden;
	align-items: stretch;
	background-color: var(--bg-form);
	flex-wrap: wrap;
	border-radius: 10px;
	gap: 1px;
	dl {
		background-color: var(--bg-form-inner);
		dt {
			color: var(--base-color);
			font: {
				size: 14px;
				weight: 600;
			}
		}
		dd {
			input {
				width: 100%;
				color: var(--base-color);
				border: 0;
				background-color: transparent;
				outline: 0;
				&::placeholder {
					color: var(--placeholder);
				}
			}
		}
	}
}

.btn-reset {
	&:disabled {
		cursor: not-allowed;
		color: var(--placeholder);
		background-color: var(--bg-form-inner);
	}
	&:not(:disabled) {
		color: var(--btn-text);
		background-color: var(--btn);
	}
}

.notice {
	list-style: none;
	li {
		display: flex;
		align-items: flex-start;
		line-height: 160%;
		&:before {
			flex: none;
			content: "\b7";
			font: {
				weight: 700;
			}
		}
		> span {
			flex: 1 1;
		}
	}
}

.btn-area {
	display: flex;
	flex: 1 1 auto;
	align-items: stretch;
	gap: 2px;
}

.graph-container {
	display: flex;
	flex: 1 1;
	width: 100%;
	flex-wrap: wrap;
}
.graph-item {
	dl {
		dt {
			color: var(--base-color);
			font: {
				size: 14px;
				weight: 600;
			}
		}
		dd {
			color: var(--base-color);
		}
	}
}
.graph-bg {
	display: flex;
	overflow: hidden;
	border-radius: 10px;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20px;
	> div {
		&:nth-child(1) {
			border-radius: 10px 10px 0 0;
		}
	}
}
.total-bar, .chemical-bar, .chemical-bar2, .water-bar {
	flex: none;
	height: 0;
	transition: height 700ms cubic-bezier(.06, .38, .13, 1);
}
.total-bar {
	background-color: var(--bg-total-bar);
}
.water-bar {
	background-color: var(--bg-water-bar);
}
.chemical-bar,
.chemical-bar2 {
	background-color: var(--bg-chemical-bar);
}

// * Footer
.copyright {
	color: var(--copyright);
	margin-top: 20px;
	font-size: 12px;
	ul {
		display: flex;
		list-style: none;
		align-items: center;
		li {
			display: inline-flex;
			flex: none;
			align-items: center;
			+ li {
				&:before {
					display: inline-block;
					flex: none;
					margin: 0 10px;
					content: "";
					width: 4px;
					height: 4px;
					background-color: var(--copyright);
					border-radius: 50%;
				}
			}
		}
	}
	a {
		display: inline-flex;
		text-decoration: none;
		align-items: center;
		.icon {
			flex: none;
			width: 14px;
			height: 14px;
			margin-right: 3px;
		}
	}
}

// * Tab
.tab-header {
	display: flex;
	position: relative;
	border-radius: 10px;
	background-color: var(--bg-tab);
	margin-bottom: 15px;
	.radio-label {
		display: flex;
		flex: 1 1;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		input[type="radio"] {
			display: none;
			&:checked {
				+ .control-text {
					color: var(--tab-active-text);
				}
			}
			&:not(:checked) {
				+ .control-text {
					color: var(--tab-default-text);
				}
			}
		}
		.control-text {
			display: flex;
			position: relative;
			z-index: 2;
			height: 42px;
			align-items: center;
			justify-content: center;
			transition: color var(--tab-speed);
			font: {
				size: 14px;
				weight: 600;
			}
		}
	}
	.tab-line {
		position: absolute;
		z-index: 1;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: var(--tab-line);
		border-radius: 10px;
		transition: transform var(--tab-speed);
	}
}
.tab-body {
	display: flex;
	flex: 1 1;
	flex-direction: column;
	&[data-tab] {
		display: none;
		&.active {
			display: flex;
		}
	}
}
// * Modal
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	height: 100dvh;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--bg-modal), 20%);
	backdrop-filter: blur(4px);
	&.active {
		display: flex;
		.modal-container {
			animation: modal-in 800ms;
			background-color: var(--bg-modal-content);
		}
	}
	h1,
	.btn-modal-close {
		color: var(--modal-text);
	}
	.notice {
		color: var(--notice-text);
		a,
		.underline {
			color: var(--line-color);
		}
		a {
			text-decoration: underline;
			text-decoration-color: var(--line-color);
			text-underline-offset: 3px;
		}
	}
}
.modal-container {
	padding: 30px;
	position: relative;
	width: 100%;
	max-width: 480px;
	border-radius: 20px;
	.btn-modal-close {
		position: absolute;
		top: 30px;
		right: 26px;
		background: transparent;
		line-height: 1;
		font-size: 28px;
	}
	h1 {
		margin-bottom: 15px;
		font: {
			size: 18px;
			weight: 600;
		}
	}
}
.modal-footer {
	padding-top: 16px;
}
.quick-area {
	border-top: 1px dashed var(--quick-line);
	margin-top: 10px;
	padding-top: 10px;
	.inner {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	&.hide-after {
		&:after {
			content: none;
		}
	}
}
.btn-quick {
	transition: background-color 300ms;
	@media (hover: hover) and (pointer: fine) {
		cursor: pointer;
		&:hover {
			background: {
				color: var(--tab-line);
			}
		}
	}
	flex: 1 1;
	color: var(--bg-contents);
	border: {
		radius: 4px;
	}
	background: {
		color: var(--bg-quick);
	}
	font: {
		weight: 700;
	}
}

.result-msg {
	display: none;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 40px 0;
	flex: 1 1;
	.ti {
		font: {
			size: 40px;
			weight: 400;
		}
		color: #FF5C4B;
	}
	.msg {
		margin-top: 6px;
		color: var(--notice-text);
		font: {
			size: 14px;
			weight: 400;
		}
	}
	&.active {
		display: flex;
	}
}
.product-list {
	overflow-y: auto;
	.product-item {
		min-width: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 16px 0;
		gap: 6px;
		&:first-child {
			padding-top: 6px;
		}
		&:not(:first-child) {
			border-top: 1px dashed var(--product-line);
		}
		.brand {
			flex: none;
			border-radius: 4px;
			padding: 4px 6px;
			max-width: 100%;
			span {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: block;
			}
			font: {
				size: 14px;
				weight: 700;
			}
			&.ad {
				background: #d11212;
				color: #fff;
			}
			&.gb {
				background: #46340b;
				color: #fff;
			}
			&.default {
				background: #dadada;
				color: #111;
			}
		}
		.etc {
			color: var(--etc);
			padding: 0 6px;
			font: {
				size: 12px;
			}
		}
		.btn-modal-dilution {
			position: absolute;
			inset: 0;
			background-color: transparent;
		}
	}
}

#searchInput {
	border: 1px solid var(--border-input);
	margin-bottom: 10px;
	border-radius: 4px;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: {
		color: var(--bg-input);
	}
	&::placeholder {
		color: var(--input-placeholder);
	}
	color: var(--notice-text);
	font: {
		size: 14px;
		weight: 500;
	}
	&:focus {
		border-color: #111;
		outline: 0;
	}
}

@keyframes modal-in {
	from {
		transform: translateY(40px);
	}
	to {
		transform: translateY(0);
	}
}

@media screen and (min-width: 1024px) {
	#wrap {
		display: flex;
		position: relative;
		min-height: 100dvh;
		align-items: center;
		justify-content: center;
		background: {
			position: 50% 50%;
			size: cover;
			image: url('../images/bg.jpg');
		}
		&:before {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			backdrop-filter: blur(10px);
			background: {
				color: var(--bg-opacity);
			}
		}
	}
	.header {
		display: flex;
		position: relative;
		z-index: 2;
		align-items: center;
		margin-bottom: 30px;
		h1 {
			justify-self: flex-start;
			&:after {
				right: -28px;
			}
			font: {
				size: 17px;
				weight: 700;
			}
		}
	}
	.btn-search {
		margin-left: auto;
	}
	.btn-information {
		margin-left: 14px;
	}
	#container {
		padding: 30px;
		border-radius: 24px;
		background-color: rgba(var(--bg-contents-rgb), 100%);
	}
	#contents {
		height: 65vh;
		max-height: 700px;
	}
	.tab-header {
		width: 50%;
	}
	.form {
		dl {
			padding: 20px;
			&:nth-of-type(1) {
				flex: 0 0 50%;
			}
			&:not(:nth-of-type(1)) {
				flex: 1 1;
			}
			dt {
				margin-bottom: 5px;
			}
			dd {
				input {
					height: 36px;
					letter-spacing: -0.0375em;
					font: {
						size: 30px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		padding: 30px;
		font: {
			size: 18px;
			weight: 700;
		}
	}
	.graph-container {
		margin-top: 30px;
		gap: 20px;
	}
	.graph-bg {
		flex: 1 1;
		background: repeating-linear-gradient(-55deg,
				var(--graph-bg-gradient1),
				var(--graph-bg-gradient1) 4px,
				var(--graph-bg-gradient2) 4px,
				var(--graph-bg-gradient2) 8px);
	}
	.graph-item {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		padding-top: 30px;
		border-top: 1px dashed var(--graph-border);
		dl {
			padding: 0 20px;
			margin-bottom: 10px;
			dd {
				font: {
					size: 52px;
					weight: 700;
				}
			}
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 5px;
			}
			font: {
				size: 13px;
				weight: 400;
			}
			+ li {
				margin-top: 5px;
			}
		}
	}
	.copyright {
		ul {
			li {
				&:nth-child(4) {
					margin-left: auto;
					&:before {
						content: none;
					}
				}
				&:nth-child(5) {
					margin-left: 10px;
					&:before {
						content: none;
					}
				}
			}
		}
	}
	.btn-quick {
		padding: 6px 8px;
		font: {
			size: 14px;
		}
	}
	.product-list {
		max-height: 50dvh;
	}
}

@media screen and (max-width: 1024px) {
	#contents {
		padding: 24px;
	}
	.header {
		position: sticky;
		z-index: 10;
		top: 0;
		height: 61px;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid var(--graph-border);
		background-color: var(--bg-contents);
		h1 {
			color: var(--base-color);
			font: {
				size: 18px;
				weight: 700;
			}
			&:after {
				right: -32px;
			}
		}
	}
	.btn-search,
	.btn-information {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.ti {
			font: {
				size: 20px;
			}
		}
		span {
			display: none;
		}
	}
	.btn-information {
		left: 24px;
	}
	.btn-search {
		right: 24px;
	}
	.form {
		dl {
			flex: 0 0 100%;
			padding: 20px;
			dt {
				margin-bottom: 5px;
			}
			dd {
				input {
					font: {
						size: 24px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		flex: 0 0 100%;
		padding: 16px;
		font: {
			size: 16px;
			weight: 700;
		}
	}
	.graph-container {
		margin-top: 20px;
	}
	.graph-bg {
		flex: 1 1;
		height: 200px;
		background: repeating-linear-gradient(-55deg,
				var(--graph-bg-gradient1),
				var(--graph-bg-gradient1) 3px,
				var(--graph-bg-gradient2) 3px,
				var(--graph-bg-gradient2) 6px);
	}
	.graph-item {
		flex: 0 0 100%;
		&:first-child {
			padding-top: 20px;
			border-top: 1px dashed var(--graph-border);
		}
		&:nth-child(2) {
			margin-top: 20px;
		}
		dl {
			padding: 0 20px;
			margin-bottom: 5px;
			dd {
				margin-top: 5px;
				font: {
					size: 42px;
					weight: 700;
				}
			}
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 5px;
			}
			font: {
				size: 13px;
				weight: 400;
			}
			+ li {
				margin-top: 3px;
			}
		}
	}
	.copyright {
		ul {
			flex-wrap: wrap;
			justify-content: center;
			li {
				&:nth-child(4),
				&:nth-child(5) {
					flex: 0 0 100%;
					justify-content: center;
					margin-top: 10px;
					&:before {
						content: none;
					}
				}
			}
		}
	}
	.btn-quick {
		padding: 4px 6px;
		font: {
			size: 14px;
		}
	}
}
@media screen and (max-width: 574px) {
	#container {
		background-color: var(--bg-contents);
	}
	#contents {
		padding: 16px 16px calc(16px + env(safe-area-inset-bottom));
	}
	.header {
		z-index: 10;
		align-items: center;
		h1 {
			&:after {
				right: -28px;
			}
			font: {
				size: 16px;
				weight: 700;
			}
		}
	}
	.btn-information {
		left: 16px;
	}
	.btn-search {
		right: 16px;
	}
	.graph-bg {
		height: 130px;
		padding-top: 10px;
	}
	.graph-item {
		dl {
			padding: 0 10px;
			margin-bottom: 6px;
			dd {
				font: {
					size: 32px;
					weight: 700;
				}
			}
		}
	}
	.form {
		dl {
			flex: 0 0 calc(50% - 0.5px);
			padding: 16px;
			min-width: 0;
			dd {
				input {
					font: {
						size: 20px;
						weight: 700;
					}
				}
			}
		}
	}
	.btn-reset {
		padding: 12px;
		font: {
			size: 15px;
			weight: 700;
		}
	}
	.notice {
		li {
			&:before {
				margin-right: 4px;
			}
			font: {
				size: 13px;
				weight: 400;
			}
			+ li {
				margin-top: 2px;
			}
		}
	}
	// * Modal
	.modal {
		.modal-container {
			h1 {
				margin-bottom: 15px;
				font: {
					size: 18px;
					weight: 600;
				}
			}
		}
		&[data-modal-type="information"] {
			align-items: flex-end;
			.modal-container {
				padding: 24px 24px calc(24px + env(safe-area-inset-bottom));
				position: relative;
				max-width: 100%;
				border-radius: 16px 16px 0 0;
				.btn-modal-close {
					top: 23px;
					.icon {
						width: 28px;
						height: 28px;
					}
				}
			}
		}
		&[data-modal-type="search"] {
			align-items: stretch;
			.modal-container {
				padding: 16px 16px calc(24px + env(safe-area-inset-bottom));
				border-radius: 0;
				max-width: 100%;
				flex: 1 1;
				display: flex;
				flex-direction: column;
				.btn-modal-close {
					top: 15px;
					right: 16px;
					.icon {
						width: 28px;
						height: 28px;
					}
				}
			}
			.modal-contents {
				flex: 1 1;
				display: flex;
				flex-direction: column;
				overflow-y: auto;
			}
			.modal-footer {
				padding-top: 16px;
			}
		}
	}
	.quick-area {
		position: relative;
		.inner {
			@media (hover: none) and (pointer: coarse) {
				&::-webkit-scrollbar {
					display: none;
				}
			}
			@media (hover: hover) and (pointer: fine) {
				@include scrollbar(4px, transparent, 2px);
				&:hover {
					@include scrollbar(4px, var(--graph-border), 2px);
				}
			}
			flex-wrap: nowrap;
			overflow-x: auto;
		}
		&:after {
			position: absolute;
			pointer-events: none;
			top: calc(50%);
			right: 0;
			content: "";
			width: 24px;
			height: 24px;
			transform: translateY(calc(-50% + 3px));
			background: linear-gradient(90deg, hsla(0, 0%, 98%, 0), var(--bg-form-inner) 24px, var(--bg-form-inner));
		}
	}
	.btn-quick {
		padding: 3px 4px;
		font: {
			size: 11px;
		}
	}
	.product-list {
		flex: 1 1 auto;
		.product-item {
			.brand {
				font: {
					size: 13px;
				}
			}
		}
	}
}
